
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline:none;
  scroll-behavior: smooth;
  font-family:sans-serif;
  
}
:root{
  --background-color:#f1f3ed;
  --second-background-color:#b3bbcb;
  --text-color:#1d0606;
  --main-color:rgb(219, 127, 142);

}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
/* body{
  background: var(--background-color);
  color: var(--text-color);
  

  
} */
/* section{
 min-height: 100vh;
 padding:5rem 9% 2rem;
} */
.header{
   position: fixed;  
  top: 0;
  left: -0.5rem;
  width: 100%;
  padding: 3.4rem,;
  background: var(--background-color);
  display: flex;
  justify-content:space-between ;
  align-items: center;
  z-index: 100;

}
.header .sticky{
 border-bottom: .1rem solid rgb(35, 17, 17); 
}

.navbar a{
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 25rem;
  transition: -3s;
}
.navbar a :hover,
.navbar a.active{
  color:var(--main-color) ;


}


body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
    /* background-image: url(https://images.unsplash.com/photo-1514483935006-b311818acf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80); */
    /* background-repeat: no-repeat; */
   
  }
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 30px;
  }
  .established {
    font-style: italic;
  }
  h1, h2, p {
    text-align: center;
  }
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  .bottom-line {
    margin-top: 25px;
  }
  h1, h2 {
    font-family: Impact, serif;
  }
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  .price {
    text-align: right;
    width: 25%;
  }
  /* FOOTER */
  footer {
    font-size: 14px;
  }
  .address {
    margin-bottom: 5px;
  }
  a {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: brown;
  }
  a:active {
    color: brown;
  }
  .btn{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #202125;
    color: #ffff;
    border-radius: 5px;
    margin-left: 20rem;
    cursor: pointer;
  }
  .but2{
    width: 120px;
    height: 36px;
   color: aliceblue;
    border-radius: 30px;
    background-color: rgb(52, 52, 173);
    
}
.but1{
    width: 120px;
    height: 36px;
    border-radius: 30px;
    border-color: aqua;
    color: rgb(74, 74, 233);
    

}
 /* #log{
    color: blue;
} */
.contact{ 
    text-align: center;
    font-size: 18px;
}
.icon{
    font-size: 50px;
}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 30px;
    font-size: 15px;
      
}
.form input{
    padding: 10px;
    margin: 10px;
    border: none;
}
#Message{
    width: 180%;
    border: none;
    height: 100px;
    border-bottom-right-radius: 80px;
    font-size: 18px;
}

.button{
    width: 120px;
    height: 36px;
    border: none;
    color: aliceblue;
    margin-left: 18rem;
    border-radius: 7%;
   
    background-color: rgb(16, 16, 20);  
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: aliceblue;
}

